/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
  
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
  }
 
 .faFacebookSquare, .faLinkedin, .faInstagramSquare{
      color: white;
  }
 
 .faFacebookSquare:hover{
    color: #3b5998;
 }
 
 .faLinkedin:hover{
  color: #0072b1;
 }
 
 .faInstagramSquare:hover{
  color: #C13584;
 }
 